@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #5e04c2;
}

div {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

.auto-hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  float: left;
}

.search-container {
  width: 600px;
  margin: -100px 0 0 -300px;
  position: absolute;
  top: 40%;
  left: 50%;
}

.search-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin: 0px;
}

.search-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  width: 100%;
  float: left;
  margin: 10px 0 0 0;
}

.search-box {
  margin: 40px 0 0 0;
}

.search-group {
  width: 100%;
  position: relative;
}

.search-group .input-group-btn {
  position: absolute;
  left: 0px
}

.search-group .input-group-btn .btn-search {

}

.search-group .input-search {
  width: 100%;
  font-family: 'Menlo', sans-serif;
  font-size: 18px;
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  background: #410287;
  color: #fff;
}

.search-group .input-search::-webkit-input-placeholder {
  color: #fff;
  text-align: center;
}

.search-group .input-search:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  text-align: center;
}

.search-group .input-search::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
  text-align: center;
}

.search-group .input-search:-ms-input-placeholder {
  color: #fff;
  text-align: center;
}

.top {
  width: 100%;
  height: 90px;
  float: left;
  background: #4f03a5;
  position: fixed;
  top: 0px;
  left: 0px
}

.top .title {
  width: 15%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin: 33px 0 0 0;
}

.top .search {
  width: 70%;
  height: 70px;
  float: left;
}

.top .search .search-box {
  margin: 20px auto 0 auto;
  width: 600px;
}

.top .search .search-group .input-search {
  width: 100%;
  font-size: 18px;
  padding: 13px;
  border: 0px;
}

.top .close {
  width: 15%;
  height: 70px;
  float: left;
  color: #fff;
  font-size: 60px;
  font-weight: lighter;
  padding: 0 0 0 14px;
  cursor: pointer;
}

.info {
  width: 70%;
  margin: 133px auto 0;
}

.info .track-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.info .save-playlist {
  width: 318px;
  height: 54px;
  background: #12FFCC;
  font-family: 'Menlo', sans-serif;
  font-size: 18px;
  color: #125E4D;
  text-align: center;
  border-radius: 40px;
  padding: 16px;
  margin: 45px auto 0 auto;
  cursor: pointer;
}

.trackList {
  width: 70%;
  margin: 100px auto 0;
  list-style: none;
  padding: 0px;
}

.trackList li {
  font-family: 'Menlo', sans-serif;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid #410287;
  padding: 13px 10px
}

.trackList li .remove {
  float: right;
  margin: 6px 10px 0 0;
  cursor: pointer;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.21);
}

.trackList li .remove:hover {
  color: #fff;
}

.hidden {
  display: none
}

.playlist-modal {
  height: 100%;
  width: 100%;
  top: 0px;
  float: left;
  background: #fff;
  position: fixed;
  overflow: scroll;
}

.playlist-modal .modal-container {
  width: 90%;
  margin: 0 auto;
}

.modal-container h2 {

}

.modal-container .playlist-name {
  width: 100%;
  font-family: 'Menlo', sans-serif;
  font-size: 25px;
  padding: 9px;
  border: 0px;
  background: #fff;
  color: #fff;
  border-bottom: 2px solid #ccc;
}

.modal-container .save {
  width: 318px;
  height: 54px;
  background: #12FFCC;
  font-family: 'Menlo', sans-serif;
  font-size: 18px;
  color: #125E4D;
  text-align: center;
  border-radius: 40px;
  padding: 16px;
  margin: 45px auto 0 auto;
  cursor: pointer;
}

.loading {
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -40px 0 0 -27px;
}

.footer {
  width: 100%;
  float: left;
  padding: 20px;
}

.footer.fixed {
  position: fixed;
  bottom: 0px
}

.footer .copy {
  font-family: 'Menlo', sans-serif;
  font-size: 12px;
  color: #fff;
  float: left;
}

.footer .copy a {
  color: #fff;
}

.footer .spotify-api {
  font-family: 'Menlo', sans-serif;
  font-size: 12px;
  color: #fff;
  float: right;
}



/**/

.fade-enter {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
